*{
    padding: 0;
    border: 0;
    margin: 0;
    color: white;
    font-size: 25px;
    font-family: Garamond, serif;
}
body{
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 16%, rgba(150,150,150,1) 73%, rgba(196,196,196,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 16%, rgba(150,150,150,1) 73%, rgba(196,196,196,1) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,1) 16%, rgba(150,150,150,1) 73%, rgba(196,196,196,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#c4c4c4",GradientType=1);
    width: 900px;
    margin: 0 auto;
    border: 1px rgb(156, 152, 152) solid;
    padding: 0 40px 20px 40px;
}
.main .photo img{
    height: 450px;
    width: 100%;
}
.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    margin: 20px 0;
}
.menuNav, .locationNav, .contactNav, .aboutNav{
    border: white 1px solid;
    padding: 10px;
}
.title p{
    font-family: courier;
    font-size: 38px;
    text-align: center;
    padding-top: 20px;
    border-bottom: 2px solid white;
}
.pizza, .pasta, .salads, .drinks, .about, .contact{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.aboutTitle a, .menuTitle a, .locationTitle a, .contactTitle a{
    display: inline-block;
    border: white 1px solid;
    padding: 10px;
}
.aboutTitle, .menuTitle, .locationTitle, .contactTitle{
    margin: 30px 0 0 0;
}
.about, .menu, .salads, .location, .contact{
    margin: 15px 0 0 0;
}
.pizzaDescription p, .pastaDescription p, .saladsDescription p, .drinksDescription p{
    text-align: center;
    font-size: 20px;
}
.address{
    text-align: center;
}
.contact{
    justify-content: space-around;
}
img{
    -webkit-box-shadow: 1px 0px 21px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 1px 0px 21px 0px rgba(255, 255, 255, 1);
    box-shadow: 1px 0px 15px 0px rgba(255, 255, 255, 1);
}
a:link, a:hover, a:visited{
    text-decoration: none;
}
.pizza, .pasta, .salads, .about{
    margin-bottom: 80px;
    border-bottom: 1px solid gray;
    padding-bottom: 60px;
}
.aboutTitle{
    padding-top: 40px;
}
.drinks, .contact{
    border-bottom: 1px solid gray;
    padding-bottom: 40px;
}
.aboutDescription{
    text-align: center;
    margin-right: 15px;
}
.hours p b, .contactUs p b, .address p b{
    font-size: 27px;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.title-food{
    text-align: center;
    padding-bottom: 30px;
}
.title-food p{
    display: inline-block;
    font-size: 30px;
    border-bottom: 1px solid rgb(255, 255, 255);
}